<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>

    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <meta charset="UTF-8">
    <title>Event Management System</title>
</head>
<body>
       <div class="navbar">
           <ul>
                <li>
               <a href="{% url 'events:index' %}"><h1>EMS</h1></a>
                </li>
                <li>
                    <a href="{% url 'events:locations' %}">Explore<span>(current)</span></a>
                </li>
                <li>
                    <a href="{% url 'events:event-add' %}">Create a new Event</a>
                </li>
                <form method="get" action="{% url 'events:search_results' %}">
                <input name="q" type="search" placeholder="Search" aria-label="Search">
                <button type="submit">Search</button>
                </form>
                      <p class="button-register"><a href="{% url 'users:register' %}">Register</a></p>
           </ul>
       </div>
       <div class="locations">
           {% for location in locations_list %}
           <p>    {{ location.name}} {{location.events_names }} </p>
           {% endfor %}
       </div>

{% block content %}
{% endblock content %}
</body>
</html>