{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<h1> {% trans "HOME PAGE" %} </h1>
<ul>
    {% for event in events_list %}
    <li style="color:white;">
    {{ event.name }}--{{ event.date }}
        {{ event.description }}
        {% if request.user.is_authenticated and request.user == event.creator %}
                <p><a href="{% url 'events:event-update' pk=event.pk %}" style="color:white;">Update</a></p>
        {% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock content %}