{% extends 'events/base.html' %}
{% load static %}
{% block content %}
 {{ form.media }}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <img src="{{ form.image.url }}" width="150" height="200">
    <input type="submit" value="Save" >
</form>
{% endblock %}


