{% extends 'base.html' %}
{% block content %}
<!--{% load static %}-->

<ul>
{% for location in locations_list %}
    <li>
        <h1><a href="{% url 'events:locations_details' pk=location.pk %}" style="color:white;">{{ location.name}}</a></h1>


    </li>
<!--    <span style="color: #00FF00;">{{ location.status }}</span>-->
    {% endfor %}
</ul>

{% endblock content %}