{% extends 'events/base.html' %}
{% block content %}
{% for event in event_objects %}
<p>{{ event }}</p>
{% endfor %}
{% for location in location_objects %}
<p>{{ location }}</p>
{% endfor %}
{% endblock %}