charset="UTF-8";

.navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.navbar ul li{
float : left;
}
.navbar ul li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}
.navbar ul li a:hover {
  background-color: #339cc2;
}
.active:hover {
  background-color: #60c5c8;
}
body {
     background: url("/static/background.jpg") 50% 0 no-repeat fixed;
     color: white;
     height: 650px;
     padding: 100px 0 0 0;
     background-size: cover;
}
body p{
  color: white;
}