charset="UTF-8";

.navbar{
width 100%;
  position: fixed;
  top: 0;
}
.navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

}
.navbar ul li{
float : left;
list-style : none;
}
.navbar ul li a{
  display: block;
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}
.navbar ul li a:hover {
  background-color: #339cc2;
}
body {
     background: url("/static/background.jpg") 50% 0 no-repeat fixed;
     background-size: cover;
}
body p{
  color: white;
}
.locations p{
color: white;
}
.button-register a{
color : white;
float:right;
}