div{
  border-radius: 5px;

  padding: 0px;
  position: relative;
  left: 50px;
  right : 50px;
  margin-top: 50px;
  margin-right: 500px;
  margin-left: 80px;
}
.form{
  background-color: rgb(255, 255, 255, 0.6);
  border: 1px solid black;
  height: 740px;
  float: center;
}
.register{
  position: relative;
  left: 400px;
   background-color: #4CAF50;
  border-radius: 12px;
  border : none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
.register:hover{
background-color: #45a049;
  font-weight: bold;
  color: #000000;
}
.form p{
  position: relative;
  left: 200px;
  margin-bottom: 5px;
  margin-right: 150px;
  margin-left: 80px;
  font-weight: bold;
  color: #000000;
}
.form-text{
  color:black;
  position: relative;
  left: 150px;
    font-weight: bold;
  color: #000000;
}
.form_fields p{
  font-weight: bold;
  color: #000000;
}
div h2{
  margin-left: 500px;
  font-weight: bold;
  color: white;
}