{% extends 'base.html' %}
{% block content %}
<h2>LogIn</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="=submit">Log In</button>
</form>
<a href="{% url 'social:begin' 'github' %}">Login with github</a>
<a href="{% url 'dashboard' %}">Back to dashboard</a>
<a href="{% url 'password_reset' %}">Reset password</a>
<a href="{% url 'register' %}">Register</a>
{% endblock %}
</body>
</html>