{% extends 'base.html' %}
{% block content %}
<h2>Confirm Password Reset</h2>
<form method="post">
    {% csrf token %}
    {{ form.as_p }}
    <input type="submit" value="Confirm">
</form>
{% endblock %}