{% extends 'base.html' %}
{% block content %}
<h2>Send password reset link</h2>
<form method="post">
    {% csrf token %}
    {{ form.as_p }}
    <input type="submit" value="Reset">
</form>
<a href="{% url 'dashboard' %}">Back to dashboard</a>
{% endblock %}