{% extends 'events/base.html' %}
{% include "django/forms/widgets/input.html" %}
{% load static %}
{% block content %}
{% load widget_tweaks %}
<link rel="stylesheet" type="text/css" href="{% static 'register.css' %}" xmlns="http://www.w3.org/1999/html">
<div>
<h2>Register</h2>
<form method="post" class="form">
    {% csrf_token %}
    <div class="form_fields">
    {% for field in form.visible_fields %}
    <p style="color:black;">{{ field.label_tag }}</p>
    <p>
        {{ field.errors }} </p>

        <p>{% render_field field class="form-control is-invalid" %}</p>
          {% if field.help_text %}
        </br>
        <small class="form-text">{{ field.help_text }}</small>
      {% endif %}
</br>
    {% endfor %}
    </div>
    <input class="register" type="submit" value="Register">
</form>
<a href="{% url 'users:login' %}">Back to login</a>
</div>
{% endblock %}




