{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailembeds_tags %}
{% load wagtailuserbar %}
{% wagtailuserbar %}
{% block body_class %}template-plogindexpage{% endblock %}
{% block content %}
<h1>{{ page.title }}</h1>
<div class="intro">
    {{ page.intro|richtext }}
</div>
{% for post in page.get_children %}
<h2>
    {{ post.specific.intro }}
</h2>
<a href="{% pageurl post %}">post.title</a>
{% embed 'https://www.youtube.com/watch?v=SJXMTtvCxRo' %}
{% embed page.video_url %}
{% endfor %}
{% endblock %}